<footer class="site-footer h-card">
	<data class="u-url" href="{{ " /" | relative_url }}"></data>

	<div class="wrapper">

		<div style="display: grid; grid-template-columns: repeat(auto-fit, minmax(21rem, auto)); gap: 1rem;">
			<div style="display: grid; grid-template-columns: auto 1fr; gap: 1rem;">
				<img style="border-radius: 50%; max-width: 10rem;" src="/images/me.jpg">
				<div>
					<p class="p-name">
						{%- if site.author -%}
						{{ site.author | escape }}
						{%- else -%}
						{{ site.title | escape }}
						{%- endif -%}
					</p>
					{%- if site.email -%}
					<p><a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a></p>
					{%- endif -%}
					{%- include social.html -%}
				</div>
			</div>

			<div style="grid-column: span 1;">
				<p>{{- site.description | escape -}}</p>
			</div>
		</div>

	</div>

</footer>